-#app, models, stores, views, controllers [in that order!] -->
= javascript_include_tag("app/app")
= javascript_include_tag("app/models/list_item")
= javascript_include_tag("app/models/group")
= javascript_include_tag("app/stores/morestore")
= javascript_include_tag("app/stores/groupliststore")
= javascript_include_tag("app/views/homecard")
= javascript_include_tag("app/views/searchcard")
= javascript_include_tag("app/views/actioncard")
= javascript_include_tag("app/views/settingscard")
= javascript_include_tag("app/views/aboutcard")
= javascript_include_tag("app/views/bookmarkcard")
= javascript_include_tag("app/views/morecard")
= javascript_include_tag("app/views/groupscard")
= javascript_include_tag("app/views/Viewport")