<div id="s1">
  <div class="toolbar">
    <h1>Natalie Portman</h1>
    <%= link_to "back", "#", :class => "back slideright"%>
  </div>
  <div class="card_image"><%= link_to (image_tag ("1.jpg")), "#s2", :class=>"slideleft"  %></div>
  <ul class="rounded"><li><span class="left">Name</span><span class="right">Natalie Portman</span></li></ul>
</div>

<div id="s2">
  <div class="toolbar">
    <h1>Milla Jovovich</h1>
    <%= link_to "back", "#", :class => "back slideright"%>
  </div>

  <div class="card_image"><%= link_to (image_tag ("2.jpg")), "#s3", :class=>"slideleft"   %></div>
  <ul class="rounded"><li><span class="left">Name</span><span class="right">Milla Jovovich</span></li></ul>
</div>

<div id="s3" >
  <div class="toolbar">
    <h1>Sexy Girl3</h1>
    <%= link_to "back", "#", :class => "back slideright"%>
    <%= link_to "groups", "#home", :class => "button slideright"%>
  </div>

  <div class="card_image"><%= image_tag ("3.jpg")   %></div>
  <ul class="rounded"><li><span class="left">Name</span><span class="right">Sexy Girl3</span></li></ul>
</div>