<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html
    %head
        -#
            <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1 user-scalable=no,width = 320" />
            <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        = csrf_meta_tag
        = stylesheet_link_tag '../sencha/sencha-touch', 'mobile'
        = javascript_include_tag "../sencha/sencha-touch-debug", "mobile"
        = yield :javascripts
    %body
        = yield